*
!*.yaml
!scenes
!.gitignore
!python_scripts/*
!python_scripts
!automations
!shell_commands
!panel_iframe
!groups
!www
!www/*
!www/custom_ui
!www/custom_ui/*
!README.md
secrets.yaml
known_devices.yaml
www/z-wave-graph.json
