*
!*.yaml
!scenes
!.gitignore
!python_scripts/*
!python_scripts
!automations
!panels
!themes
!shell_commands
!panel_iframe
!groups
!www
!www/*
!www/custom_ui
!www/custom_ui/*
!README.md
!ui-lovelace.yaml
!zwcfg_0xc1e54ab7.xml
!documentation
!documentation/*
!documentation/zones
!documentation/zones/*
!documentation/inventory
!documentation/inventory/*

secrets.yaml
known_devices.yaml
www/z-wave-graph.json
